{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-process-exit": 0,
    "no-use-before-define": 0,
    "strict": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-constant-condition": 0,
    "semi": [2, "always"], // :(
    "comma-spacing": 2,
    "guard-for-in": 2,
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "space-after-keywords": 2,
    "brace-style": [2, "1tbs"],
    "no-var": 2,
    "prefer-const": 2
  }
}
