{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-process-exit": 0,
    "no-use-before-define": 0,
    "strict": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-constant-condition": 0,
    "brace-style": [2, "1tbs"],
    "no-var": 2,
    "prefer-const": 2
  }
}
