.status {
    width: 2em;
}

.new-todo-form {
    display: flex;
}

.signin-form {
    display: flex;
}

#new-todo {
    width: 100%;
}

#username {
    width: 100%;
}

.todo-done {
    text-decoration: line-through;
}

.todo-item {
    cursor: pointer;
}

.clickable {
    display: flex;
}

.clickable:hover {
    text-decoration: underline;
}

.templates {
    margin-top: 100px;
}

.todo-item {
    position: relative;
}

.remove-todo {
    position: absolute;
    top: 1em;
    left: -2em;
}

.remove-todo:hover {
    color: red;
}
